<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Email de Solicitação de cadastro</title>

    <style type="text/css">
        :root {
                font-size: 32px;

                --primary-color: #ff6600;
                --background-color: #f7f7f7;
                --background-color-variant: #ffffff;
                --text-color-white: #ffffff;
                --gray: #757575;
                --success: #00B35D;
                --success-variant: #2BE88D;
                --error: #FA5757;
            }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Inter'
        }
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f7f7f7;
        }
        h6 {
            font-weight: 700 bold;
            font-size: 16px;
        }
        .content {
            width: 60%;
            background-color: #ffffff;
        }
    </style>
</head>
    <body>
        <div class="content">

            <!-- <header>
                <img src="http://192.168.1.35:3333/img/banner.png" alt="" style="width: 100%; height: 200px; border: none;">
            </header> -->
            <div class="main">
                <h6>Obrigado pelo interesse em fazer parte da TakeBack!</h6>
            </div>
            
            <div class="main">
                <p>
                    A solicitação de cadastro da empresa Extra Bom Supermercado foi 
                    recebida com sucesso! Estamos trabalhando na validação dos dados 
                    da empresa, assim que tivermos alguma novidade te atualizaremos por aqui.
                </p>
            </div>

            <div class="main">
                <p>
                    Qualquer dúvida basta entrar em contato conosco pelo
                        Email.: <span>contato@takeback.app.br</span>  ou pelo nosso
                            WhatsApp.: <span> (38) 9833-0021</span>.
                </p>
            </div>

            <div class="main">
                <p>Nos vemos em breve :)</p>
            </div>

            <div class="main footer">
                <p>
                    TAKEBACK LTDA - CNPJ 45.231.359/0001-08<br>
                    R BARAO DO RIO BRANCO, 513, PORTEIRINHA - MG
                </p>
            </div>
        </div>
    </body>
</html>