<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@200&display=swap" rel="stylesheet">

    <title>Document</title>

    <style type="text/css">

        :root {
                font-size: 32px;

                --primary-color: #171a1b;
                --background-color: #e6e6e6;
                --background-color-variant: #f2f2f2;
                --text-color-white: #ffffff;
                --gray: #757575;
                --success: #00B35D;
                --success-variant: #2BE88D;
                --error: #FA5757;
            }
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Comfortaa', sans-serif;
            }
        body{
            margin: 0;
            background-color: #cccccc;
        }

        table{
            border-spacing: 0;
        }
        td{
            padding: 0;
        }
        img{
            border: 0;
        }
        p{
            font-family: sans-serif;
            color: #171a1b;
            font-weight: 600;
            font-size: 1rem;
        }
        .status{
            font-family: sans-serif;
            font-weight: 600;
            color:red;
            font-size: 1rem;
        }
        .wrapper{
            width: 100%;
            table-layout: fixed;
            background-color: #cccccc;
            padding-bottom: 60px;
        }
        .main{
            background-color: #ffffff;
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
            border-spacing: 0;
            font-family: sans-serif;
            color: #171a1b;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    
    <center class="wrapper">

        <table class="main" width="100%">

<!-- TOP BORDER -->

            <tr>
                <td height="8" style="background-color: #171a1b;"></td>
            </tr>
<!-- LOGO SECTION -->

            <tr>
                <td>
                    <table width="100%">
                        <tr>
                            <td class="two-columns">
                                <table class="column">
                                    <tr>
                                        <td>
                                            <img src="<%=logo%>" alt="" style="height: 100px; width: 100px">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <h1 style="padding: 1rem;">Olá <%=companyName%></h1>
            <div style="text-align: center; padding: 1rem;">

                <p>Recebemos a sua solicitação de cadastro em nosso sistema!</p>
                <p><div class="status">Status atual:</div> Cadastro solicitado.</p>
                <p>Entraremos em contato quando houver alteração em seu status.</p>

            </div>
<!-- BANNER IMAGE -->
<!-- FOOTER SECTION -->
            <tr>
                <td style="background-color: #26292b; color: #fff">
                    <table width="100%">
                        <tr>
                            <td style="text-align: center; padding: 45px 20px;">
                                <img src="<%=logo%>" alt="" style="height: 100px; width: 100px">
                                <p style="padding: 10px; color:#fff; font-size: 0.7rem;">Takeback LTDA - CNPJ: 00.000.0000/00</p>
                                <p style="padding: 10px; color:#fff; font-size: 0.7rem;">Rua Euflazina, Bairro Aurora, 70 - Porteirinha/MG</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>


    </center>
</body>
</html>